<a href="https://colab.research.google.com/github/blessybabu-lbt/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Programming_Exercise_session_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Write a Python program to get the largest number from a list
def max_num_in_list(list):
  s_list = sorted(list)
  return s_list[len(s_list) -1]

In [15]:
print(max_num_in_list([51, 33, -18, 10, 3, 83]))

83

In [16]:
#Write a Python code to search an element in a list.
def Sequential_Search(dlist,item):
  found=0
  for i in range(len(dlist)):
    if (dlist[i]) == item :
      found=1
      return ("element %s is found at position %s in list " %(item,i+1))
      break
  if found == 0:
    return ("element %s is not found in list" %(item))

In [17]:
print(Sequential_Search([5,10,15,20,25],10))

element 10 is found at position 2 in list

In [23]:
#Write a Python program to sum all the items in a list
def sum_list(items):
    sum = 0
    for i in items:
        sum += i
    return sum

In [24]:
print(sum_list([1,2,3,4,5,6]))

21

In [25]:
#Write a Python program to remove duplicates from a list
def Remove(duplicate): 
	final_list = [] 
	for n in duplicate: 
		if n not in final_list: 
			final_list.append(n) 
	return final_list

In [26]:
print(Remove([11,44,22,88,44,33,22]))

[11, 44, 22, 88, 33]

In [28]:
#Write a Python function that takes two lists and returns True if they have at least one common member
def data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
     return result

In [29]:
print(data([10,20,30], [30,40,50]))
print(data([11,22], [33,44]))

True
False

In [37]:
#Write a Python program to append a list to the second list.

def append(list1,list2):
  final_list = list1 + list2
  return final_list

In [39]:
print(append([1,2,3],['a','b']))

[1, 2, 3, 'a', 'b']

In [40]:
#Write a Python program to check if a given number is a composite number or not
def composite(n):
  if n == 1:
    print("1 is neither prime nor composite")
  if n > 1:
   for i in range(2,n):
       if (n % i) == 0:
           print(n,"is a composite number")
           break
   else:
       print(n,"is not a composite number")

In [41]:
print(composite(1))

1 is neither prime nor composite
None

In [42]:
print(composite(4))

4 is a composite number
None

In [43]:
print(composite(5))

5 is not a composite number
None

In [46]:
#Write a Python code to add two matrices using list(8)
M = [[5,10,15],    [1,4,2],    [8,2,10]]
N = [[3,11,5],    [9,16,6],    [3,5,4]]

R = [[0,0,0],  [0,0,0],  [0,0,0]]

for i in range(len(M)):
   for j in range(len(M[0])):
       R[i][j] = M[i][j] + N[i][j]

In [47]:
print(R)

[[8, 21, 20], [10, 20, 8], [11, 7, 14]]

In [51]:
#Write a python program to check if a string is palindrome or not
def palindrome(str):
  str1 = ""
  for i in str:
    str1 = i + str1  
  if(str == str1):
    return "This string is Palindrome"
  return "This string is not Palindrome"

In [52]:
print(palindrome("mom"))

This string is Palindrome

In [53]:
#Write a python program to print multiplication table of a number
def table(num,start,end): 
	for i in range (start, end+1): 
		print ("%d * %d = %d" % (num, i, num * i) )

In [55]:
table(2,1,10)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20